
  [Unit]
  Description=My Fancy Service

  [Service]
  Type=simple
  ExecStartPre=/bin/sleep 30
  ExecStart=/home/ficha/run.sh
  Environment="PYTHONPATH=$PYTHONPATH:/home/ficha/.local/lib/python3.6/site-packages"
  [Install]
  WantedBy=multi-user.target